.header{
    display: flex;
    max-width: 1280px;
    width: 100%;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
}
.titulo h5{
    font-weight: 600;
}
.cadastrar{
    display: flex;
    width: 220px;
    height: 40px;
    border-radius: 20px;
    font-size: 15px;
    color: #fff;
    background-color: rgb(0, 132, 255);
    justify-content: center;
    align-items: center;
}
#app{
    margin-top: 100px;
}
.section-pedido{
    max-width: 1280px;
    width: 100%;
    margin-bottom: 50px;
}
.cadastro{
    max-width: 1280px;
    width: 100%;
    background-color: white;
    border-radius: 7px;
    box-shadow: 0 0 5px #ccc;
}
.tb{
    padding: 50px;
    max-width: 1180px;
    width: 100%;
}
.tabela-1{
    width: 100%;
}
.tabela-1 thead{
    background-color: #03202e;
    color: white;
    height: 50px;
}
tbody tr{
    height: 35px;
    text-align: center;
}
tbody tr td{
    border-bottom: 1px solid #092344a4;
}
.acao-table{
    color: black;
    padding: 10px;
}